.card {
  background: white;
  width: 80%;
  margin: auto;
  padding-bottom: 35px;
}

.card-header {
  text-align: left;
  width: 90%;
  margin: auto;
  border: white 1px solid;
}

.card-header h3 {
  margin: 20px 0;
}

.card .cards {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card .cards .air {
  background: #0c57a1;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  min-width: 200px;
}

.card .cards .air i {
  color: white;
  font-size: 35px;
  position: relative;
  bottom: 0;
  top: 68%;
}

.card .cards .air p {
  color: white;
  margin: auto;
}

.card .cards .sea {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid gray;
  min-width: 200px;
  position: relative;
  margin: 20px;
  overflow: hidden;
}

.card .cards .sea i {
  color: gray;
  font-size: 45px;
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 80%;
}

.card .cards .sea p {
  width: 120px;
}

.card .cards .sea,
.custom p {
  color: black;
  margin: auto;
}
