.layout {
  width: 80%;
  background: white;
  margin: 30px auto;
  padding: 40px 0;
}

.layout-info {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.layout-info i {
  font-size: 19px;
  font-size: 700;
}

.location {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 6px auto;
  flex-wrap: wrap;
}

.location-import {
  margin: 15px 0;
}

.import,
.export {
  background: transparent;
  height: 35px;
  width: 65px;
  border: 0.5px solid rgb(240, 234, 234);
  cursor: pointer;
}

.from,
.to {
  position: relative;
  margin: 15px 0;
}

.from i,
.to i {
  position: absolute;
  left: 3%;
  top: 27%;
}

.from input,
.to input {
  width: 280px;
  outline: none;
  background: whitesmoke;
  border: none;
  height: 30px;
  padding-left: 25px;
}

.date,
.number {
  position: relative;
  margin: 15px 0;
}

.date input {
  width: 280px;
  outline: none;
  background: whitesmoke;
  border: none;
  height: 30px;
  padding-left: 29px;
}

.number input {
  width: 280px;
  outline: none;
  background: whitesmoke;
  border: none;
  height: 32px;
  padding-left: 10px;
}

.date i {
  position: absolute;
  left: 3%;
  top: 24%;
}

.select {
  margin: 15px 0;
}

.select select {
  width: 280px;
  outline: none;
  background: whitesmoke;
  border: none;
  height: 32px;
  padding-left: 8px;
  color: gray;
}

.select select option {
  width: 70px;
}

@media (max-width: 1245px) {
  .select select {
    width: 307px;
  }
  .number input {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .location {
    flex-direction: column;
  }

  .from,
  .to {
    width: 100%;
    overflow: hidden;
  }

  .from input,
  .to input {
    height: 45px;
    width: 95%;
    padding-left: 40px;
  }
  .date,
  .number {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .date input {
    height: 45px;
    width: 95%;
    padding-left: 40px;
  }

  .number input {
    height: 45px;
    width: 98%;
  }

  .select select {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 50px;
  }

  .from i,
  .to i {
    left: 3%;
    top: 33%;
  }

  .layout-info {
    text-align: center;
  }
}

@media (max-width: 805px) {
  .layout-info {
    text-align: center;
    margin: 20px;
  }
}

@media (max-width: 700px) {
  .layout {
    width: 95%;
  }
}
